* {
    margin : 0;
    padding:0;
}

/************************************************************************/
/***************************** ZONES ************************************/

body {
    background:repeat center/50% url(images/galax_double_autre.webp);
    background-attachment:fixed; /* fond ecran reste fixe lors du scrolling */
    font-family: 'Segoe UI', 'Trebuchet', 'Helvetica', sans-serif;
    font-size: 1rem;
    text-align:justify;
}
main {
    width:75%;
    margin:auto;
}
section {
    height:auto;
    padding:50px 80px;
    background-color:white;
}

/* section.paire*/
.paire {    
    background-color:rgb(219, 225, 234);
}

header, footer {
    width:75%;
    margin:auto;
}

nav {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    padding:30px 0px 20px 0px;
    background-color:rgb(35, 63, 104);
    width:75%;                                      /* indispensable !!*/
    height:20px;
    z-index:5;
    position:fixed;
    top:0;                     
}

/*avec position:fixed la nav sort du flux, alors le contenu remnonte tout en haut
d'où besoin d'une margin-top pour l'élément suivant .chapeau, et de donner une position top:0 à la nav*/

/*si je mets position:fixed, la nav se réfère au body et non plus au header.
alors, elle prend 100% largeur du body et pas 100% largeur du header
donc je la contrains avec 75%, mais alors :
les padding sur les côtés gênent la flexbox qui "déborde à droite"
d'où pas de padding sur les côtés */

.menu {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:50px;
    margin-right:30px;
}
.menu a {
    font-size:1.05rem;
    color:white;
}
.menu a:hover {
    text-decoration:none;
    text-shadow:0px 0px 5px white;
}
.page-active {
    font-weight: bold;
}

footer {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:75%;
    padding:20px 0px 30px 0px;
    background-color:rgb(35, 63,104);
}
.ancre {                                               /*flèche retour en haut*/
    margin-left:30px;
}

.menu-reseaux {                                         /*liens externes du footer*/
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:30px;
    margin-right:30px;
}

.icone-reseau {                                       
    height:50px;
    font-size:2rem;
}
.icone-reseau ion-icon {
    color:white;
}

/*j'aurais pu faire plus court en associant (nav, footer) et (.menu, .menu-reseaux),
mais on différenciait moins bien les lignes relatives à la nav (header) de celles du footer */

/**************************************************************************/
/*************************** CONTENU DU HEADER ****************************/

header h1 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.chapeau {
    height:auto;
    padding:30px 50px;
    margin-top:70px;                     /*pour décaler bien sous la nav a cause de position fixed de la nav*/
    background: url(images/collaboration_1_gamma.webp) center/cover;
}
.chapeau ul li {
    margin-left:50px;
    margin-bottom:10px;
}

.fond-couleur {
    color:white;
    border-radius:10px;
    padding:10px 20px;
    background-color:rgb(126, 60, 1, 0.65); 
}

.texte-simple {
    font-size:1.05em;
    width:75%;
    padding:10px 0;
    margin:0 auto;
}
.accroche {
    font-size:1.3rem;
    text-align:center;
    width:95%;
    margin:0 auto;
}

/****************************************************************************/
/********************** MISES EN FORME TEXTE GENERAL ************************/

h1 {
    font-size: 1.8rem ;
    color:rgb(35,63,104);
    margin-bottom:20px;
}

h2 {
    font-size:1.5rem;
    color:rgb(35,63,104);
    margin-bottom:20px;
}

p {
    line-height:1.6rem;
    margin:10px 0;
}
strong {
    color:rgb(35,63,104);
}
a {
    text-decoration:none;
}

    /*------------------ boîtes et boutons -------------------- */

.boite-general {                                       /*boites pages a-propos et contact*/
    color:black;
    border-radius:10px;
    box-shadow:3px 3px 0px black;
    margin-top:20px;
    padding:30px;
    background-color:rgb(219,225,234);
}

.bouton {
    text-align:center;
    font-weight:bold;
    border-radius:50px;
    padding:15px;
    margin:5px 0;
}

.non-cta {
    display:inline-block;
    color:black;
    border:none;
    background-color:rgb(219, 225, 234);
}

.cta {                            /* Animations toutes pages : hover effect sur boutons .cta */
    display:block;
    font-size:1.15em;
    color:white;
    width:270px;
    align-self:center;
    margin:50px auto 0 auto;
    background-color:rgb(35,63,104);
    border:2px solid rgb(35,63,104);
    transition:
        background-color 0.5s,
        color 0.5s;
}
.cta:hover {
    text-decoration:none;
    color:rgb(35,63,104);
    background-color:white;
}

/******************************************************************************/
/************************** SECTION CITATIONS (toutes les pages) **************/

.section-citations {
    display:flex;
    min-height:160px;
    justify-content:center;
    align-items:center;
}

.box-citations {
    width:50%;
    margin:auto;
    opacity:0;
    transition:opacity 0.5s ease;
}
.fade-in {
    opacity:1;
}
.fade-out {
    opacity:0
}

.phrase {
    color:rgb(35,63,104);
    font-size:1.8em;
    font-style:italic;
    text-align:center;
}
.auteur {
    color:rgb(35,63,104);
    font-size:1.3em;
    text-align:right;
}

/**************************************************************************/
/****************************** PAGE ACCUEIL *****************************/

        /*------------------ section 1 ---------------------*/

.flex-presentation {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
}

    .texte-presentation {
        width:50%;
        animation:glissement-droite 0.3s;
    }

    @keyframes glissement-droite {
        from {
            transform:translateX(-130px);
        }                                             /*pour effet visuel comme le bloc de texte est large et dense, on voit mieux la translation en le faisant partir de plus loin VS la photo*/
        to {
            transform:translateX(0);
        }
    }

    .photo-credits {
        text-align:center;
        width:40%;
        opacity:0;
        animation:glissement-gauche 0.4s forwards;    /*reste visible à la fin de l'animation*/
        animation-delay:0.3s;                         /*il démarre qaund le premier bloc a fini*/
    }
        .ma-photo {
            border-radius:200px;
            width:90%;
            height:auto;
        }

    @keyframes glissement-gauche {
        from {
            transform:translateX(100px);
            opacity:1;
        }
        to {
            transform:translateX(0);
            opacity:1;
        }
    }

        /*------------------ section 2 formation -------------------*/

.accueil-s2-formation h1, h2 {
    text-align:center;
}

.boite-accueil {
    color:black;
    border-radius:10px;
    box-shadow:3px 3px 0px black;
    margin-top:20px;
    padding:30px;
    background-color:white;
}

/* flexbox formation et compétences*/

.accueil-s2-flexbox {                        /*orga + objectifs + competences*/
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:stretch;                     /*même hauteur pour objectifs et competences*/
    width:100%;
    margin:auto;
    gap:2px;
}

    .orga {                                 /*titre h2 + <ul>*/
        width:90%;
    }
        .orga ul {
            list-style-type:none;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:center;
            align-items:flex-start;
            width:80%;                      /*pour rapprocher les 2 "colonnes" <li>*/
            margin:auto;
            gap:10px;                       /*espace vertical entre les <li>*/
        }
        .orga ul li {
            font-size:1.05em;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:flex-start;     /*alignement des icones*/
            align-items:center;
            width: 40%;                     /*pour rapprocher les 2 "colonnes" <li> ET forcer le retour ligne après le 2e li*/
            gap:0 5px;                      /*espace entre l'icone et le texte*/
        }
        .orga ul li.diplome .sous-ligne {
            display:block;
            position:relative;
            left:30px;
        }

        ion-icon {
            font-size:1.6em;
            color:black;
        }
        /* les unicode ne fonctionnent pas et les svg ne sont pas chargés, alors les icones ont été mises directement en html*/

    .objectifs {                           /*titre h2 + <ul>*/
        width:40%;
    }
        .objectifs ul {
            text-align:left;
            display:flex;
            flex-direction:column;
            margin-left:15px;
            gap:10px;                       /*espace vertical entre les <li>, mais pas dans le texte d'un li*/
        }

    .competences {                         /*titre h2 + flex-competences*/
        width:40%;
    }
        .flex-competences {
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            justify-content: flex-start;
            align-items:flex-start;
            width:100%;
            gap:5px 0;
        }
            .langages, .frameworks, .CMS, .autres  {
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content:flex-start;
                align-items:center;
                gap:0 7px;
            }

/* AVANT avec margin :
.competences div {
    margin-bottom:6px;
}
.competences div:last-child {
    margin-bottom:0;
} 

MAIS flex + gap est plus pratique, semer des margin et padding peut créer des conflits à d'autres endroits */


/**************************************************************************/
/****************************** PAGE A PROPOS ****************************/

            /*------------------ section 1 ---------------------*/

.texte-glisse {
    animation:glissement-bas 1s;
}

@keyframes glissement-bas {
  from {
    transform: translateY(-50px);
    opacity:0;
  }
  to {
    transform: translateY(0px);
    opacity:1;
  }
}

            /*---------------- section 2 parcours --------------*/

/* cadres futur dev-web*/

.flex-futur {
    display:flex;
    flex-direction:row;
    justify-content:flex-start; 
    align-items:center;
    width:100%;
    margin-top:30px;
    gap:0 20px;
}

    .legende-dev-web {
        width:150px;
        text-align:center;
    }
    .dev-web-rncp {
        position:relative;                 /*pour les traits en pseudo-éléments*/
        width:50px;
        height:50px;
        border-radius:50px;
        background-color:rgb(217, 249, 217);
        z-index:1;
    }
    .alternance {
        width:170px;
        height:30px;
        border-radius:30px;
        background-color:rgba(217,249,217);
        z-index:1;                        /*même niveau que le cercle. si indéfini : les traits passent au-dessus*/
    }

/*traits chronologiques*/

    .dev-web-rncp::before {                /*trait vertical vers le bas pointillé*/
        content:"";
        position: absolute;
        top: 100%;                         /*démarre en bas du cercle*/
        left:50%;                          /*moitié du diamètre en horiz*/
        height:150px;
        width: 0px;
        border-left: 3px dashed black;   /*pour mettre un style dashed j'utilise border, et pour éviter un décalage si on a border+width, je mets width à 0*/
        transform:translateX(-50%);        /*centrage horiz. sinon il démarre juste après le centre, et donc c'est décentré*/
        z-index:0;
    }
     .dev-web-rncp::after {                /*trait horiz vers la droite pointillé*/
        content:"";
        position: absolute;
        top: 50%;                          /*moitié du diamètre en vertical*/
        left:100%;                         /*démarre à droite du cercle*/
        height:0px;
        width: 450px;
        border-top: 3px dashed black;   /*pour mettre un style dashed j'utilise border, et pour éviter un décalage si on a border+width, je mets width à 0*/
        transform:translateY(-50%);       /*centrage vertical sinon il démarre juste après le centre, et donc c'est décentré*/
        z-index:0;
    }

/* legendes*/ 

.legende-alternance {
    text-align:center;
    width:170px;
    margin-top:-10px;
    margin-left:240px;                    /* legend-dev-web + gap + cercle + gap */
}

/* cadres période coaching et caisse*/

.flex-cadres-coaching {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    width:100%;
    margin-top:50px;
    margin-left:-5px;
    gap:0 20px;
}

    .caisse-proximite, .caisse-decathlon {
        width:110px;
        height:30px;
        border-radius:30px;
        background-color:rgb(253, 226, 253);
        z-index:2;                         /*ces cadres doivent être au-dessus du cercle d'où partiront les enfants traits.
                                         sinon les enfants-traits sont-dessinés à la toute fin, et recouvrent donc les autres blocs*/
    }
    .auto-entreprise {
        width:300px;
        height:30px;
        border-radius:30px;
        background-color:rgb(253, 226, 253);
        z-index:2;
    }
    .coach-rncp {
        position:relative;                 /*pour les traits en pseudo-éléments*/
        width:50px;
        height:50px;
        border-radius:50px;
        background-color:rgb(253, 226, 253);
        z-index:1;
    }
    .legende-coach {
        text-align:center;
        width:110px;
    }

/* traits chronologiques*/

    .coach-rncp::before {                 /*trait horiz plein vers la gauche*/
        content:"";
        position:absolute;
        top:50%;
        right:100%;
        width:600px;
        height:0;
        border-top:3px solid black;
        transform:translateY(-50%);      /*centrage vertical*/
        z-index:0;
    }
    .coach-rncp::after {                  /*trait vertical plein vers le bas*/
        content:"";
        position:absolute;
        top:100%;
        right:50%;
        width:0;
        height:150px;
        border-left:3px solid black;
        transform:translateX(-50%);       /*centrage horiz*/
        z-index:0;
    }

/*legendes */

.flex-legendes-coaching {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-start;
    width:798px;                         /*largeur de section - (2*padding section) - coach-rncp - gap - cercle soit 1138-160-110-20-50 */
    margin-top:-30px;
    gap:0 25px;
}
    .legende-proximite, .legende-decathlon {
        text-align:center;
        width:170px;
    }
    .legende-autoentreprise {
        text-align:center;
        width:220px;
    }

/* cadres periode science*/

.flex-cadres-science  {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    margin-top:10px;
    gap:0 20px;
}

    .legende-master {
        text-align:center;
        width:150px;
    }
    .master {
        position:relative;                /*pour les traits en pseudo-éléments*/
        width:50px;
        height:50px;
        border-radius:50px;
        background-color:rgb(232, 246, 251);
        z-index:1;
    }

    .ingenieure, .techpublic, .techprive {
        width:170px;
        height:30px;
        border-radius:30px;
        background-color:rgb(232, 246, 251);
        z-index:1;                      /*ici est d'abord dessiné master avec son enfant-trait, puis les frères donc z-index:1 suffit*/
    }

/*trait chronologique*/

    .master::after {                    /*trait vertical plein vers la droite*/
        content:"";
        position:absolute;
        top:50%;
        left:100%;
        width:595px;
        height:0px;
        border-top:3px solid black;
        transform:translateY(-50%);     /*centrage horiz*/
        z-index:0;
    }

/*legendes*/

.flex-legendes-science {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;  
    align-items:flex-start;
    width:550px;                      /*les trois blocs ingenieur techpublic et techprive + 2 gap*/
    gap:0 20px;
    margin-top:-30px;                 /*si je mets en position:relative, j'ai un espace entre les légendes et le bouton .cta*/
    margin-left:240px;                /*legende-master + cercle-master + gap*/
}
    .legende-inge, .legende-techpublic, .legende-techprive {
        text-align:center;
        width:170px;
    }

        /*------------------ section 3 soft skills -----------------*/

.flex-soft-skills h2:not(#titre-dev-web) {
  font-size: 1.3rem;
}

.flex-soft-skills {                     /*boites perso + {science + devweb} + coaching*/
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:flex-end;
    width:100%;
    margin-top:30px;
    gap:60px;
}

    .soft-perso {
        position:relative;
        width:250px;
        height:auto;
        margin-top:0;
    }
    .soft-coaching {
        position:relative;
        width:250px;
        height:auto;
        margin-top:0;
    }
    .colonne-science-dev {                /*boites science + devweb*/
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:110px;
    }

        .soft-science, .soft-dev-web {
            position:relative;           /*pour les traits en pseudo-éléments*/
            width:220px;
            height:auto;
            margin-top:0;
        }
        .soft-dev-web h2 {
            margin:0;
        }

.soft-science ul, .soft-coaching ul, .soft-perso ul {
    display:flex;
    flex-direction:column;
    margin-left:15px;
    gap:5px;                           /*espace vertical entre les <li>, mais pas dans le texte d'un li*/
}

/* les traits entre les boites*/

.soft-perso::after {
  content: "";
  position: absolute;
  top: 75%;                            /* position en vertical */
  left:100%;                          /* commence juste à l’extérieur, côté droit */
  width: 0px;                         /* longueur du trait au départ pour l'animation */
  height: 2px;                        /* épaisseur */
  background-color: black;
  transform:translateY(-75%);
  transition:width 0.5s;
}

.soft-coaching::after {
  content: "";
  position: absolute;
  top: 75%;
  right: 100%;                        /* commence juste à l’extérieur, côté gauche */
  width: 0px;
  height: 2px;
  background-color: black;
  transform:translateY(-75%);
  transition:width 0.5s;
}

.soft-science::after {
  content: "";
  position: absolute;
  top:100%;                           /* commence juste à l’extérieur, en-dessous */
  left: 50%;
  width: 2px;
  height: 0px;
  background-color: black;
  transform:translateX(-50%);
  transition:height 0.5s;
}

/*animations des traits*/

/*JS va ajouter la classe .anime-width aux parents .soft-perso et .soft-coaching
mais c'est LEUR width qui va être impactée !
alors en CSS je définis un effet uniquement aux ::after
de sorte qu'aucun .soft-perso.anime-width n'existe !
anime-width tout seul n'a aucune effet, seulement dans le contexte::after*/

.soft-perso.anime-width::after,
.soft-coaching.anime-width::after {
    width:60px;                           /*longueur finale*/
}
.soft-science.anime-height::after {
    height:110px;                        /*hauteur finale*/
}

        /*------------------ section 4 demain -----------------------*/

.a-propos-s4-demain h2 {
    text-align:left;
    margin-left:50px;
}

/****************************************************************************/
/******************************* PAGE PROJETS *******************************/

.grid-projets {
    display:grid;
    width:90%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 15px;
    margin:40px auto 0 auto;
    background-color:rgb(219, 225, 234);
    padding:15px;
}

.grid-projets a {        /*les éléments cases de la grid*/
    width: 100%;
    height: 100%;        /*ils ont besoin d'une hauteur !!*/
    display: block; 
}

.grid-projets a img {
    width: 100%;
    height: 100%;        /* remplir toute la case*/
    display: block;      /*une image est inline par défaut, donc il y a un espace dessous comme pour une ligne de texte --> block pour éviter ça*/
    object-fit:cover;    /* rogne sans déformer*/
}

.grid-projets a img:hover {
    transform:scale(1.2);
    border:3px solid rgb(35, 63, 104);
    box-shadow:4px 4px 4px rgba(66, 66, 66, 0.75);
}

.img-1 {
    grid-column:span 2;
    grid-row:span 1;
}

.img-2 {
    grid-column: span 2;
    grid-row:span 2;
}

.img-3 {
    grid-column: span 2;
    grid-row:span 2;
}

.img-4 {
    grid-column: span 1;        
}

.img-5 {
    grid-column: span 1;
}

.flex-liens {
    display:flex;
    flex-direction:row;
}

/****************************************************************************/
/******************************* PAGE CONTACT ******************************/

.texte-contact {
    text-align:center;
    font-size:1.1rem;
    margin-bottom:50px;
}
.padding-top {
    padding-top:20px;
}

form {
    width: 50%;
    margin:auto;
    padding:20px 40px;
}

label, input, textarea {
    display:block;
}
input, textarea {
    width:100%;
    margin-bottom:15px;
    min-height:40px;              /*pour textarea*/
    border-radius:10px;
    border:none;
    background-color:rgba(255,255,255);
}
label {
    margin: 10px 0 5px 0;
}

#message {
    margin-bottom:20px;
}

#zone-submit {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
#Envoyer {
    width:30%;
    padding:15px;
    margin:10px 0 0 50px;
    cursor:pointer;             /* pointeur pour input[type=submit], qui par défaut n'en a pas */
}

.erreur {
    color:red;
    font-style:italic;
}
